*,
*:before,
*:after {
  box-sizing: border-box; }

#sudoku {
  float: left;
  border: 4px solid black; }
  #sudoku:after {
    clear: left; }
  #sudoku .block {
    float: left;
    border: 1px solid black; }
    #sudoku .block:nth-child(3n + 1) {
      clear: left; }
    #sudoku .block .cell {
      position: relative;
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid black;
      text-align: center; }
      #sudoku .block .cell:nth-child(3n + 1) {
        clear: left; }
      #sudoku .block .cell input {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        display: none;
        width: 50px;
        height: 50px;
        border: none;
        background: transparent;
        text-align: center;
        font-size: 24px;
        font-weight: bold; }
      #sudoku .block .cell div.value {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-weight: bold; }
      #sudoku .block .cell div.possibilities {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px; }
        #sudoku .block .cell div.possibilities div.digit {
          float: left;
          width: 16.66667px;
          height: 16.66667px;
          text-align: center;
          line-height: 16.66667px;
          font-size: 15px;
          color: lightgray; }
          #sudoku .block .cell div.possibilities div.digit:nth-child(3n + 1) {
            clear: left; }
      #sudoku .block .cell.solved {
        background-color: orange;
        color: #ffffff; }
        #sudoku .block .cell.solved.initial {
          background-color: limegreen; }
  #sudoku.input .block .cell input {
    display: block; }
  #sudoku.input .block .cell div.value {
    display: none; }
