@import 'vars';

*,
*:before,
*:after {
    box-sizing: border-box;
}

#toolbar {
    margin: 20px 0;
}

#data {
    float: right;
    width: 400px;
    height: 200px;
    border: 1px solid $border-color;
}

#sudoku {
    float: left;
    border: 4px solid $border-color;

    &:after {
        clear: left;
    }

    .block {
        float: left;
        border: 1px solid $border-color;

        &:nth-child(3n + 1) {
            clear: left;
        }

        .cell {
            position: relative;
            float: left;
            width: $cell-size;
            height: $cell-size;
            border: 1px solid $border-color;
            text-align: center;

            &:nth-child(3n + 1) {
                clear: left;
            }

            input {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;
                display: none;
                width: $cell-size;
                height: $cell-size;
                border: none;
                background: transparent;
                text-align: center;
                font: {
                    size: $font-size;
                    weight: bold;
                }
            }

            div.value {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;
                display: block;
                width: $cell-size;
                height: $cell-size;
                line-height: $cell-size;
                font: {
                    size: $font-size;
                    weight: bold;
                }
            }

            div.possibilities {
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: $cell-size;
                height: $cell-size;

                div.digit {
                    float: left;
                    width: $cell-size/3;
                    height: $cell-size/3;
                    text-align: center;
                    line-height: $cell-size/3;
                    font: {
                        size: 15px;
                    }
                    color: lightgray;

                    &:nth-child(3n + 1) {
                        clear: left;
                    }
                }
            }

            &.solved {
                background-color: orange;
                color: #ffffff;

                &.initial {
                    background-color: limegreen;
                }
            }
        }
    }

    &.input .block .cell {
        input {
            display: block;
        }

        div.value {
            display: none;
        }
    }
}